<div class="__staticbuild-badge">
  This site was <a href="https://github.com/anthonyec/staticbuild" target="_blank">built with a tool</a> that's not for you!
</div>

<style>
  .__staticbuild-badge * {
    all: unset;
  }

  .__staticbuild-badge {
    display: inline-block;
    border-radius: 100px;
    border: 1px solid black;
    padding: 5px 12px;
    font-size: 11px;
    text-transform: lowercase;
  }

  .__staticbuild-badge a,
  .__staticbuild-badge a:visited,
  .__staticbuild-badge a:active {
    cursor: pointer;
    color: black;
    text-decoration: underline;
  }
</style>
